*{
     margin: 0;
     padding: 0; 
}

body { 
      display: block;
      position: relative;  
      margin: auto;
      width: 100%;
      height: 2306px;
      background: white;
}


/* ------------------------------------------------ 320px----------------------------------------------------------------- */

@media screen and (max-width: 480px) and (min-width: 320px) {
body {
     min-width: 320px;
     max-width: 480px;
     width: 100%;
 }
 
 
.wrapper{
     width: 320px;
     margin: 0 auto; 
}

header{
     height: 514px;
  }

header {
     background-image: url(../img/header.jpg);
     width: 100%;
     overflow: hidden;
     position: relative;
     font-family: 'Myriad Pro', sans-serif;
  }

.hide-xs {
     display: none;
  }

  .ping{
     margin-top: 66px;
     text-align: center;
}

 .ping h1{
     color: #ffffff;
     font-weight: bold 700;
     font-size: 43px;
     font-stretch:extra-condensed; 
}

.ping span{ 
     color: #533b5e;
}

.menu {
     margin-top: 38px;
     margin: 0; /* Обнуляем значение отступов */
     padding: 4px; /* Значение полей  */
     padding-right: 0px;
     width: 100%;
     text-align: center;
     list-style-type: none;
}

.menu_link{
     text-transform: uppercase; /* все буквы большие */
     font-size: 24px;
     color: #ffffff;
     text-decoration: none;
     font-stretch:extra-condensed; 
}

.menu_link:hover{
     text-decoration: underline;
}

      
.lorem_nav{
     height: 66px;
     padding-top: 0px;
  }

.lorem_nav .first{
     font-size: 36px;
     text-align: center;
  }
     
.lorem_nav .second{
     font-size: 18px;
     text-align: center;
  }
    
.lorem_nav .third{
     display: none;
  }

section{
     overflow: hidden;
     position: relative;
     height: 599px;
     padding-top: 66px;
     background: #745181;
     width: 100%;  
  }

.sprite{
     height: 484px;
     overflow:hidden;
     position: absolute;
}

.sprite .sprite_part{
     float: left;
     list-style: none;
     margin-top: 80px;
     margin-right: 300px; 
}

.sprite a{
     height: 28px;
     width: 28px;
     display: block;
     background: url(../img/sprite.png) 0 0 no-repeat;  
}

 .sprite .key{
     background-position: 0px 0;
}

.sprite .spaek{
     background-position: -34.5px 0;
}

.sprite .musik{
     background-position: -67px 0;
}

.slider{
     background-image: none;
     margin-top: 126px;
     height: 67px;
     position: relative;
  }

.lorem_nav h2{
     font-size: 60px;
     color: #ffffff;
     font-weight: normal;
     font-stretch:extra-condensed;
     text-align: left;

}

.lorem_nav h3{
     font-size: 32px;
     color: #edbfff;
     font-weight: normal;
     font-stretch:extra-condensed; 
     text-align: left;
}

.lorem_nav p{
     font-size: 18px;
     color: #edeced;
     font-weight: 100; 
     text-align: left;
}

.point_left{
     float: left;
     margin-top: 18px;
 }
   
.point_right {
     float: right;
     margin-top: 18px;  
}

.radio{
     bottom: 0;
     overflow: hidden;
     text-align: center;
     margin-top: 82px;
     height: 26px;
}

.radio .radio_part{
     display: inline-block;
     font-size: 25px;
     line-height: 13px;
     min-width: 15px;
     background: rgba(0, 0, 0, 0.75);
     color: #3b3942;
     border-radius: 27px;
     padding: 5px;
     text-align: center;
     margin-right: 0px;
     margin-top: 0px;
     opacity: .75;
     width: 11px;
     height: 14px;
}

.radio .radio_part .active{
     background: #4E443C;
     color: #fff;
     opacity: 1;
     text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);

} 


.iphone{
     display: none;
}

.about {
     font-size:24px;
}

.key_about, .speak_about, .music_about {
     height: 134px;
     padding-top: 22px;
     margin-left: 56px;480
}


.key_about_part{
     font-size: 23px;
     color: #ffffff;
     font-stretch:extra-condensed; 
     font-family: 'Myriad Pro', sans-serif; 
}


section .turpis {
     margin-top: 7px;
     text-align: left;
}

.key, .spaek, .musik{
     position: absolute;
}
     
.key{
     top: 22px;
}

.spaek{
     top: 175px;
}
  
.musik{
     top: 333px;
}

.starts{
     background-image: url(../img/foto_spook.png);
     display: inline-block;
     margin-top: 65px;
     width: 80%;
     height: 269px;
     text-align: center;
}

.starts h1{
     text-align: left;
     font-size: 16px;
     margin-left: 65px;
     margin-top: 22px;
     width: 118px;
     text-transform: uppercase; /* все буквы большие */
}

.starts p{
     margin-left: 32px;
     margin-top: 10px;
     font-size: 15px;
     text-align: left;
}

.starts_collor{
     color: #edbfff;
}

.updates {
     float: left;
     height: 302px;
     width: 100%;
     padding-top: 94px;
     margin-left: 40px;
}

 .hear{
     margin-top: 28px;
}

.updates .search{
     font-size: 24px;
     font-family: 'Myriad Pro', sans-serif;
     margin-bottom: 19px;
     font-weight: normal;
     font-stretch: extra-condensed;
}

.updates .site_media {
     list-style-type: none;
     float: left;
}

.updates .site{
     margin-bottom: 30px
}

.updates img{
     width: 49px;
     height: 49px;
     margin-right: 15px;
}

.nunc{
  font-size: 16px;
  font-weight: bold;
  text-align: left;

}

span.hear{
  float: left;
  margin-top: 32px;;
}

span.hear a{
  float: left;;
  margin-left: 180px;
  font-family: 'Myriad Pro', sans-serif;
  text-decoration: none;
  color: black;
  font-stretch: extra-condensed;
  font-weight: bold;
}

span.hear a {
  margin-left: 162px;
}


article {
   background-image: url(../img/fon_white.png); 
   overflow:hidden;
   position: relative;
   height: 1209px;
   width: 100%;
}
        
.logo{
       float: left;
       text-align: center;
       height: 420px;
       width: 255px;
       margin-left: 50px
}

.logo .partner_part {
       display: inline-block;
       text-align: center;
       padding-top: 57px;
       width: 83px;
       height: 77px;
       padding-left: 42px;
}

.logo img{
       width: 72px;
       height: 68px;
}

.article .partner_part{
        list-style-type: none;
        width: 80px;
        height: 80px;
}

.key_about_part{
  font-size: 23px;
  color: #ffffff;
  font-stretch:extra-condensed; 
    font-family: 'Myriad Pro', sans-serif; 
}

section p{
  font-size: 16px;
  color: #e2e1e3;
  margin-top: 16px;
  width: 221px;
  margin-bottom: 25px
}

.key_about_read{
  float: right;
}

.key_about_read a{
  color: white;
  text-decoration: none;
  font-stretch:extra-condensed; 
  font-family: 'Myriad Pro', sans-serif; 
}


.radio_one{
    width: 34%;
    text-align: center;
    position: absolute;
    top: 365px;
    margin-left: 67px;
}
 
.radio_one .radio_bottom_part{
    display: inline-block;
    font-size: 25px;
    line-height: 8px;
    min-width: 15px;
    background: rgba(0, 0, 0, 0.75);
    color: #3b3942;
    border-radius: 27px;
    padding: 5px;
    text-align: center;
    margin-right: 0px;
    margin-top: 0px;
    opacity: .75;
    width: 11px;
    height: 14px;
}

.radio_one .radio_bottom_part .active{
      background: #4E443C;
        color: #fff;
        opacity: 1;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
} 

.radio_one .radio_bottom{
      height: 23px;
}


aside {
        background-image: url(../img/grey_fon.png); 
        overflow:hidden;
        position: relative;
        display: none;
        height: 395px;
}

footer{
  position: relative;
  overflow: hidden;
  height: 197px;
  background: url(../img/img_footer.png);
}


 .menu_footer{
       margin-top: 38px;
       padding: 4px; /* Значение полей */
       width: 100%;
       text-align: center;
       float: left;
       font-family: 'Myriad Pro', sans-serif;
       font-stretch: extra-condensed;
       text-transform: uppercase; /* все буквы большие */
       text-align: center;
}

 .menu_footer .menu_link{
   text-transform: uppercase; /* все буквы большие */
   font-size: 20px;
   color: #ffffff;
   padding-right: 17px;
   text-align: center;
   text-decoration: none;
   font-stretch:extra-condensed; 
   display: inline-block;
 }

.menu_footer .hide-s {
  display: none;
} 
  
.menu_item_as {
    text-align: center;
    list-style-type: none;
}

.news_one .name{
        font-stretch: extra-condensed;
        font-size: 48px;
        font-family: 'Myriad Pro', sans-serif;
}

.news_one .big{
        color: #b9b9b9;
}

.news_one .name_bottom{
      font-size: 16px;
      color: #c5c5c5;
      font-style: italic;
}

.news .name{
        font-stretch: extra-condensed;
        font-size: 30px;
        font-family: 'Myriad Pro', sans-serif;
}


}
 
/* -------------------------------------------------------start 480-------------------------------------------------------- */

@media screen and (max-width: 768px) and (min-width: 480px) {

body {
  min-width: 480px;
  max-width: 768px;
  width: 100%;
 }

.wrapper{
  width: 480px;
  margin: 0 auto; 
}


ul.menu li{
        display: block;
        margin-top: 8px;
        text-align:center;
        padding-right: 0px;
}

header{
        height: 540px;
}

header {
    background-image: url(../img/header.jpg);
    width: 100%;
    overflow: hidden;
    position: relative;
    font-family: 'Myriad Pro', sans-serif;
  }



.menu{
        width: 239px;
        text-align: center;
        background-image: -webkit-linear-gradient(bottom, #483a4e, #483a4e);
        -webkit-border-radius: 8px 8px 8px 8px;
        border: 1px solid #000000;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        opacity: .99;
}

.menu_link{
    text-transform: uppercase; /* все буквы большие */
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    font-stretch:extra-condensed; 
}


ul.menu {
    margin-top: 21px;
    opacity: 0.9; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
}

.menu_link:hover{
   text-decoration: underline;
   background: rgba( 43, 34, 49, 0.65);
    
}

.ping{
  margin-top: 66px;
  text-align: center;
}
 
 .ping h1{
    color: #ffffff;
    font-weight: bold 700;
    font-size: 43px;
    font-stretch:extra-condensed; 
}

.ping span{
  color: #533b5e;
}
 
.slider{
     background-image: url(../img/fon.png);
     font-family: 'Myriad Pro', sans-serif; 
     position: absolute;
     margin-top: 0px;
     top: 202px;
     height: 247px;
     width: 100%;
} 


.lorem_nav{
    width: 100%;
    height: 233px;
    margin-left: 0px;
    padding-top: 83px;
    float: left;
}

.lorem_nav h2{
  font-size: 60px;
  color: #ffffff;
  font-weight: normal;
  font-stretch:extra-condensed; 
  text-align: left;
}

.lorem_nav h3{
  font-size: 32px;
  color: #edbfff;
  font-weight: normal;
  font-stretch:extra-condensed;
  text-align: left;
}

.lorem_nav p{
  font-size: 18px;
  color: #edeced;
  font-weight: 100;
  text-align: left;

}

.lorem_nav{
    padding-top: 0px;
    width: 200px;
    height: 80px;
    margin-top: 75px;
}

.lorem_nav .first {
        font-size: 36px;
        width: 300px;
}

.lorem_nav .second {
       font-size: 18px;
       width: 300px;
}

.lorem_nav .third {
       display: none;
}

.iphone{
       left: 270px;
   /*     position: absolute; */
       float: right;
       top: 0px;
       height:  260px;
}
 
.iphone img{
       height: 295px;
       width: 168px;
}


.point_left{
    float: left;
    margin-top: 103px;
}
   
.point_right {
        float: right;
        margin-top: 103px;  
}

.radio{
    bottom: 0;
    overflow: hidden;
    text-align: center;
    margin-top: 270px;
}

.radio .radio_part{
    display: inline-block;
    font-size: 32px;
    line-height: 8px;
    min-width: 15px;
    background: rgba(0, 0, 0, 0.75);
    color: #3b3942;
    border-radius: 27px;
    padding: 5px;
    text-align: center;
    margin-right: 0px;
    margin-top: 0px;
    opacity: .75;
    width: 11px;
    height: 14px;
}

.radio .radio_part .active{
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);

} 

.radio_block {
      height: 23px;
}
        
  section {
    height: 599px;
    padding-top: 66px;
    background: #745181;
    padding-left: 50px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.sprite{
    height: 484px;
    overflow:hidden;
    position: absolute;
}

.sprite .sprite_part{
  float: left;
  list-style: none;
  margin-top: 80px;
        margin-right: 300px; 
}

.sprite a{
  height: 28px;
  width: 28px;
  display: block;
  background: url(../img/sprite.png) 0 0 no-repeat;  
}

 .sprite .key{
  background-position: 0px 0;
}

.sprite .spaek{
  background-position: -34.5px 0;
}

.sprite .musik{
   background-position: -67px 0;
}

.key_about_part{
  font-size: 23px;
  color: #ffffff;
  font-stretch:extra-condensed; 
  font-family: 'Myriad Pro', sans-serif; 
}

section p{
  font-size: 16px;
  color: #e2e1e3;
  margin-top: 16px;
  width: 221px;
  margin-bottom: 25px
}

.key_about_read{
  float: right;
}

.key_about_read a{
  color: white;
  text-decoration: none;
  font-stretch:extra-condensed; 
  font-family: 'Myriad Pro', sans-serif; 
}

/* p:active{
  color:  #f00;
}
 */
.starts{
    background-image: url(../img/foto_spook.png);
    display: inline-block;
    margin-top: 65px;
    width: 87%;
    height: 269px;
    height: 185px;
    margin-right: 50px;
    margin-bottom: 25px;
}

.starts h1{
  text-align: left;
  font-size: 22px;
  margin-left: 56px;
  margin-top: 22px;
  width: 366px;
  text-transform: uppercase; /* все буквы большие */
}

.starts p{
  margin-left: 55px;
  margin-right: 30px;
  margin-top: 10px;
  font-size: 15px;
  text-align: left;
}

.starts_collor{
  color: #edbfff;
}

.about {
        font-size:24px;
}

.key_about, .speak_about, .music_about {
        width: 57%;
        height: 134px;
        padding-top: 22px;
        margin-left: 56px;
}

section p{
  font-size: 16px;
  color: #e2e1e3;
  }


.key_about_part{
    font-size: 23px;
    color: #ffffff;
    font-stretch:extra-condensed; 
    font-family: 'Myriad Pro', sans-serif; 
}


section .turpis {
        margin-top: 7px;
        text-align: left;
}

.key, .spaek, .musik{
      position: absolute;
}
     
.key{
       top: 22px;
}

.spaek{
       top: 175px;       
       left: 2px;
}
     
.musik{
       top: 333px;
}

article {
     background-image: url(../img/fon_white.png); 
     overflow:hidden;
     position: relative;
     height: 1018px;
     width: 100%;
 }

.updates{
      float: left;
      width: 100%;
      margin-left: 50px;
      margin-top: 50px;
}

.updates .search {
        font-size: 21px;
        font-family: 'Myriad Pro', sans-serif;
        margin-bottom: 19px;
        font-weight: normal;
        font-stretch: extra-condensed;
}
       
.updates .site_media {
  list-style-type: none;
  float: left; 
}

.updates .site{
    margin-bottom: 30px
}

.updates img{
  width: 49px;
    height: 49px;
    margin-right: 15px;
}

.nunc{
  font-size: 16px;
  font-weight: bold;
  float: left;

}


span.hear a{
  float: left;;
  margin-left: 179px;
  font-family: 'Myriad Pro', sans-serif;
  text-decoration: none;
  color: black;
  font-stretch: extra-condensed;
  font-weight: bold;
}

.radio_one {
  text-align: center;
  margin-top: 50px;
}


.radio_one .radio_bottom_part{
    display: inline-block;
    font-size: 32px;
    line-height: 4px;
    min-width: 15px;
    background: rgba(0, 0, 0, 0.75);
    color: #3b3942;
    border-radius: 27px;
    padding: 5px;
    text-align: center;
    margin-right: 0px;
    margin-top: 0px;
    opacity: .75;
    width: 11px;
    height: 14px;
}

.radio_one .radio_bottom_part .active{
      background: #4E443C;
        color: #fff;
        opacity: 1;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
} 

.radio_one .radio_bottom{
      height: 23px;
}

.logo{
       text-align: center;
       height: 372px;
       width: 500px;
       float: left;
}

.logo .partner_part {
       display: inline-block;
       text-align: center;
       padding-top: 57px;
       padding-left: 55px;
       width: 83px;
       height: 77px;
}

.logo img{
      width: 72px;
      height: 68px;
}
    

aside {
        background-image: url(../img/grey_fon.png); 
        overflow:hidden;
        position: relative;
        height: 662px;
}


.news{
      margin: 0 auto;
      margin-top: 80px;
      margin-left: 0px;
        margin-right: 0px;
        margin-top: 51px;
        width: 480px;
        height: 115px;
}

.news_one{
        width: 480px;
        margin-top: 91px;
        margin-left: 0px;
        margin-right: 0px;    
}
    
.news_one .name {
       font-size: 24px;
}

.news .name{
      font-size: 24px;
}
    
.news .news_one_text{
      font-size: 16px;
      margin-top: 10px;
        width: 480px;
}


.news_one .name{
        font-stretch: extra-condensed;
        font-size: 48px;
        font-family: 'Myriad Pro', sans-serif;
}

.news_one .big{
        color: #b9b9b9;
}

.news_one .name_bottom{
      font-size: 16px;
      color: #c5c5c5;
      font-style: italic;
}

.news .name{
        font-stretch: extra-condensed;
        font-size: 30px;
        font-family: 'Myriad Pro', sans-serif;
}
    

footer {
        position: relative;
        overflow: hidden;
        height: 169px;
        text-align: center;
        background: url(../img/img_footer.png);
}
    

 .menu_footer{
       margin-top: 38px;
       padding: 4px; /* Значение полей */
       width: 100%;
       text-align: center;
       float: left;
        font-family: 'Myriad Pro', sans-serif;
        font-stretch: extra-condensed;
        text-transform: uppercase; /* все буквы большие */
        text-align: center;
}

 .menu_footer .menu_link{
   text-transform: uppercase; /* все буквы большие */
   font-size: 15px;
   color: #ffffff;
   text-decoration: none;
   font-stretch:extra-condensed; 
   display: inline-block;
   float: left;
 }


 .menu_footer .menu_item{
 display: inline; /* Отображать как строчный элемент */
 text-align: center;
 padding-right: 15px;
 float: left;
} 

.menu_footer .menu_link:active{
       color:#0000FF;
}
  

.menu_item_as {
        list-style-type: none;
} 

.menu_item_as .menu_link{
        text-transform: none;
        color: white;  
        font-size: 12px;
        margin-top: 43px;
        padding-right: 40px;
        margin-left: 170px; 
}

 .menu_link .end{
  color: #dcdbde;
  font-weight: normal;
}  

}

 /* --------------------------------------- 768------------------------------------------------------------------ */
 
  @media screen and (max-width: 960px) and (min-width: 768px) {
  body {
  min-width: 768px;
  max-width: 960px;
  width: 100%;
 }

.wrapper{
  width: 768px;
  margin: 0 auto;
  }
 
header{
  background-image: url(../img/header.jpg);
  height: 798px;
  width: 100%;
  overflow:hidden;
  position: relative; 
  font-family: 'Myriad Pro', sans-serif; 
 }


.ping{
  margin-top: 66px;
  width: 221px;
}

 .ping h1{
    color: #ffffff;
    font-weight: bold 700;
    font-size: 43px;
    font-stretch:extra-condensed; 
    margin-bottom: 38px;
}

.ping span{
  color: #533b5e;
}
 
.menu {
        margin-top: 38px;
  margin: 0; /* Обнуляем значение отступов */
  padding: 4px; /* Значение полей  */
  padding-right: 0px;
        width: 100%;
}

.menu_item{
  display: inline; /* Отображать как строчный элемент */
  text-align: center;
  padding-right: 35px;
} 

.menu_link{
    text-transform: uppercase; /* все буквы большие */
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    font-stretch:extra-condensed; 
    display: inline-block;
}

 .menu_link:hover{
   text-decoration: underline;
    
} 

/* ------------------------------------------------серый фон lorem ipsum text------------------------------------------------------------------ */

.slider{
  background-image: url(../img/fon.png);
  margin-top: 82px;
  height: 393px;
  width: 100%;
  font-family: 'Myriad Pro', sans-serif; 
  /* position: relative; */
}

.lorem_nav{
  width: 46%;
  height: 233px;
  margin-left: 30px;
  padding-top: 83px;
  float: left;
}

.lorem_nav h2{
  font-size: 48px;
  color: #ffffff;
  font-weight: normal;
  font-stretch:extra-condensed; 
  text-align: left;
}

.lorem_nav h3{
  font-size: 24px;
  color: #edbfff;
  font-weight: normal;
  font-stretch:extra-condensed;
  text-align: left;
}

.lorem_nav p{
  font-size: 16px;
  color: #edeced;
  font-weight: 100;
  text-align: left;

}

/* ----------------------------------------------------------iphone and point-------------------------------------------------------------------- */

.iphone{
  left: 526px;
  top: 380px;
  float: right;
}

.iphone img{
  width: 247px
}

.point_left{
    float: left;
    margin-top: 160px;
}

.point_right{
    margin-top: 160px;
    float: right;
}

/* ---------------------------------------------карусель 1----------------------------------------------------------
 */

.radio{
    bottom: 0;
    float: right;
    margin-top: 100px;
}

.radio .radio_part{
    display: inline-block;
    font-size: 32px;
    line-height: 9px;
    min-width: 15px;
    background: rgba(0, 0, 0, 0.75);
    color: #3b3942;
    border-radius: 27px;
    padding: 5px;
    text-align: center;
    margin-right: 0px;
    margin-top: 0px;
    opacity: .75;
    width: 11px;
    height: 14px;
}

.radio .radio_part .active{
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);

} 

.radio ul{
    margin-right: 120px;
    margin-top: 35px;
}

.radio_block {
      height: 23px;
}

/* ---------------------------------------------------------section-------------------------------------------------------------------------- */

section {
  overflow:hidden;
  position: relative;
  background-image: url(../img/fon_2.png);
  height: 341px;
  width: 100%;
}

/* ---------------------------------------------------sprite---------------------------------------------------------------------------------- */

.sprite{
    overflow:hidden;
  position: absolute;
}

.sprite .sprite_part{
  float: left;
  list-style: none;
  margin-top: 78px;
  margin-right: 225px; 
}

.sprite a{
  height: 28px;
  width: 28px;
  display: block;
  background: url(../img/sprite.png) 0 0 no-repeat;  
}

 .sprite .key{
  background-position: 0px 0;
}

.sprite .spaek{
  background-position: -34.5px 0;
}

.sprite .musik{
   background-position: -67px 0;
}

/* ----------------------------------------------------end sprite------------------------------------------------------ */

.key_about_part{
  font-size: 23px;
  color: #ffffff;
  font-stretch:extra-condensed; 
  font-family: 'Myriad Pro', sans-serif; 
}


.key_about, .speak_about, .music_about {
  display: inline-block;
  width: 22%;  
  height: 196px;
  padding-top: 76px;
  padding-right: 43px;
  margin-left: 40px;
}

section p{
  font-size: 16px;
  color: #e2e1e3;
  margin-top: 16px;
  width: 165px;
  margin-bottom: 25px
}

.key_about_read{
  float: right;
}

.key_about_read a{
  color: white;
  text-decoration: none;
  font-stretch:extra-condensed; 
  font-family: 'Myriad Pro', sans-serif; 
}

/* p:active{
        color:  #f00;
} */

/* ---------------------------------------------------------</article>------------------------------------------------------------------------------- */ 

article {
   background-image: url(../img/fon_white.png); 
   overflow:hidden;
   position: relative;
   height: 606px;
   width: 100%;
}


.logo{
     float: left;
       height: 82px;
       width: 100%;
       margin-left: 15px;
}

.logo .partner_part {
       display: inline-block;
       text-align: center;
       padding-top: 57px;
       width: 83px;
       height: 77px;
       padding-left: 42px;
}

.logo img{
      width: 72px;
      height: 68px;
}

.article .partner_part{
      list-style-type: none;
      width: 80px;
      height: 80px;
    }

.starts{
    background-image: url(../img/foto_spook.png);
    display: inline-block;
    margin-top: 65px;
    width: 40%;
    height: 269px;
    margin-right: 50px;
    margin-bottom: 25px;
    float: left;
}

  .starts h1{
  text-align: left;
  font-size: 16px;
  margin-left: 65px;
  margin-top: 22px;
  width: 118px;
  text-transform: uppercase; /* все буквы большие */
}

.starts p{
  margin-left: 55px;
  margin-right: 30px;
  margin-top: 10px;
  font-size: 14px;
  text-align: left;
}

.starts_collor{
  color: #edbfff;
}

.updates{
  height: 302px;
  width: 44%;
  float: left;
  margin-top: 81px;
  margin-left: 61px; 
}

.updates .search{
  font-size: 24px;
  font-family: 'Myriad Pro', sans-serif;
  margin-bottom: 19px;
  font-weight: normal;
  font-stretch: extra-condensed;
}

.updates .site_media {
  list-style-type: none;
  float: left;
}

.updates .site{
   margin-bottom: 25px
}

.updates img{
    width: 49px;
    height: 49px;
    margin-right: 15px;
}

.nunc{
  font-size: 16px;
  font-weight: bold;
  float: left;

}

span.hear{
  float: left;
  margin-top: 5px;
}

span.hear a{
  float: left;;
  margin-left: 180px;
  font-family: 'Myriad Pro', sans-serif;
  text-decoration: none;
  color: black;
  font-stretch: extra-condensed;
  font-weight: bold;
}

/* --------------------------------------------карусель 2------------------------------------------------------------
 */

.radio_one{
  overflow: hidden;
  display: inline-block;
  text-align: center;
  width: 40%;
  height: 30px;
  margin-top: 80px;
  margin-left: 100px;
  /* position: absolute; */
}
 
.radio_one .radio_bottom_part{
    display: inline-block;
    font-size: 25px;
    line-height: 9px;
    min-width: 15px;
    background: rgba(0, 0, 0, 0.75);
    color: #3b3942;
    border-radius: 27px;
    padding: 5px;
    text-align: center;
    margin-right: 0px;
    margin-top: 0px;
    opacity: .75;
    width: 11px;
    height: 14px;
} 

.radio_one .radio_bottom_part .active{
      background: #4E443C;
        color: #fff;
        opacity: 1;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
} 

.radio_one .radio_bottom{
      height: 23px;
}

/* ---------------------------------------------------aside------------------------------------------------------------------- */

aside {
        background-image: url(../img/grey_fon.png); 
        overflow:hidden;
        position: relative;
        height: 395px;
}

 .news{
        width: 25%;
        height: 180px;
        float: left;  
        margin-top: 91px;
        margin-right: 65px;
} 

.news .name{
        font-stretch: extra-condensed;
        font-size: 24px;
        font-family: 'Myriad Pro', sans-serif;
}


.news_one{
        width: 25%;
        height: 180px; 
        float: left; 
        margin-top: 91px;
        margin-right: 60px; 
}

.news_one .name{
        font-stretch: extra-condensed;
        font-size: 24px;
        font-family: 'Myriad Pro', sans-serif;
}

.news_one .big{
        color: #b9b9b9;
}

.news_one .name_bottom{
      font-size: 16px;
      color: #c5c5c5;
      font-style: italic;
}

.news_one_text{
      font-size: 16px;
      margin-top: 10px;
      width: 100%;
}

/* --------------------------------------------footer----------------------------------------------------------------- */

footer{
  position: relative;
  overflow: hidden;
/*   height: 197px; */
  background: url(../img/img_footer.png);
}

 .menu_footer{
       margin-top: 38px;
       padding: 4px; /* Значение полей */
       width: 100%;
       text-align: center;
       float: left;
        font-family: 'Myriad Pro', sans-serif;
        font-stretch: extra-condensed;
        text-transform: uppercase; /* все буквы большие */
        text-align: center;
}

 .menu_footer .menu_item.hide-s{
   text-transform: uppercase; /* все буквы большие */
   font-size: 20px;
   color: #ffffff;
   padding-right: 20px;
   text-decoration: none;
   font-stretch:extra-condensed; 
   display: inline-block;
   float: left;
 }


 .menu_footer .menu_item{
 display: inline; /* Отображать как строчный элемент */
 text-align: center;
 padding-right: 15px;
 float: left;
} 

.menu_footer .menu_link:active{
       color:#0000FF;
}
  
.menu_item_as{
list-style-type: none;
}

.menu_item_as .menu_link{
        text-transform: none;
        color: white;  
        font-size: 12px;
        margin-top: 37px;
        margin-bottom: 52px;
}

.menu_link .end{
  color: #dcdbde;
  font-weight: normal;
}  

}


/* -----------------------------------------960------------------------------------------------------------------------ */

 
  @media screen and (max-width: 2400px) and (min-width: 960px) {
  body {
  min-width: 960px;
  max-width: 2400px;
  width: 100%;
 }

.wrapper{
  width: 960px;
  margin: 0 auto;
  }

header{
  background-image: url(../img/header.jpg);
  height: 840px;
  width: 100%;
  overflow:hidden;
  position: relative; 
  font-family: 'Myriad Pro', sans-serif; 
 } 


 .ping{
  margin-top: 66px;
  text-align: center;
  float: left;
} 

  .ping h1{
   color: #ffffff;
   font-weight: bold 700;
   font-size: 43px;
   font-stretch:extra-condensed; 
}

.ping span{
 color: #533b5e;
} 
 
 .menu {
    margin-top: 80px;
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
    padding-right: 0px;
    width: 66%;
    text-align: center;
    float: left;
} 

ul.menu{
  margin-top: 71px;
  padding-left: 92px;
  float: left;
  width: 670px;
}

 li.menu_item{
  display: inline; /* Отображать как строчный элемен */
  text-align: center;
/*  padding-right: 35px;*/
} 
 
.wrapper .hide-xs .menu_link{
    text-transform: uppercase; /* все буквы большие */
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    font-stretch:extra-condensed; 
    padding-right: 50px;
}
 
.hide-xs .menu_link:hover{
   text-decoration: underline;
} 


/* ------------------------------------------------серый фон lorem ipsum text------------------------------------------------------------------ */

 .slider{
  background-image: url(../img/fon.png);
  margin-top: 255px;
  height: 393px;
  width: 100%;
  font-family: 'Myriad Pro', sans-serif;  
   position: relative; 
}

 .lorem_nav{
    width: 51%;
    height: 233px;
    margin-left: 0px;
    padding-top: 83px;
    float: left;
}

.lorem_nav h2{
  font-size: 60px;
  color: #ffffff;
  font-weight: normal;
  font-stretch:extra-condensed; 
  text-align: left;
}

.lorem_nav h3{
  font-size: 32px;
  color: #edbfff;
  font-weight: normal;
  font-stretch:extra-condensed;
  text-align: left;
}

.lorem_nav p{
  font-size: 18px;
  color: #edeced;
  font-weight: 100;
  text-align: left;

} 

/* ----------------------------------------------------------iphone and point-------------------------------------------------------------------- */

 .iphone{
  left: 650px;
  top: 0px;
  float: right;
} 

 .iphone img{
  width: 247px
}
 
.point_left{
    float: left;
    margin-top: 160px;
    position: absolute; 
    left: 30px; 

}

.point_right{
    margin-top: 160px;
    float: right;
    position: absolute; 
    right: 30px; 
}
 
/* ---------------------------------------------карусель 1----------------------------------------------------------
 */

 .radio{
    float: right;
    overflow: hidden;
    margin-top: 450px;
    position: relative;
    left: 200px;

}


.radio .radio_part{
    display: inline-block;
    font-size: 29px;
    line-height: 9px;
    min-width: 15px;
    background: rgba(0, 0, 0, 0.75);
    color: #3b3942;
    border-radius: 27px;
    padding: 5px;
    text-align: center;
    margin-right: 0px;
    margin-top: 0px;
    opacity: .75;
    width: 11px;
    height: 14px;
}

.radio .radio_part .active{
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);

} 

.radio_block {
      height: 23px;
} 


/* ---------------------------------------------------------section-------------------------------------------------------------------------- */

 section {
  overflow:hidden;
  position: relative;  
  background-image: url(../img/fon_2.png);
  height: 336px; 
  width: 100%;   
}

/* ---------------------------------------------------sprite---------------------------------------------------------------------------------- */

 .sprite{
  overflow:hidden;
  position: absolute;
}

.sprite .sprite_part{
  float: left;
  list-style: none;
  margin-top: 78px;
  margin-right: 268px; 
}


.sprite a{
  height: 28px;
  width: 28px;
  display: block;
  background: url(../img/sprite.png) 0 0 no-repeat;  
}

 .sprite .key{
  background-position: 0px 0;
}

.sprite .spaek{
  background-position: -34.5px 0;
}

.sprite .musik{
   background-position: -67px 0;
}
 
/* ----------------------------------------------------end sprite------------------------------------------------------ */

.key_about, .speak_about, .music_about {
  display: inline-block;
  width: 22%;  
  height: 196px;
  padding-top: 76px;
  padding-right: 43px;
  margin-left: 40px;
}

 .key_about_part{
  font-size: 23px;
  color: #ffffff;
  font-stretch:extra-condensed; 
  font-family: 'Myriad Pro', sans-serif; 
}

section p{
  font-size: 16px;
  color: #e2e1e3;
  margin-top: 16px;
  width: 221px;
  margin-bottom: 25px
}

.key_about_read{
  float: right;
}

.key_about_read a{
  color: white;
  text-decoration: none;
        font-stretch:extra-condensed; 
        font-family: 'Myriad Pro', sans-serif; 
}

/* p:active{
  color:  #f00;
}  */

/* ---------------------------------------------------------</article>------------------------------------------------------------------------------- */ 

 article {
   background-image: url(../img/fon_white.png); 
   overflow:hidden;
   position: relative;
   height: 603px;
   width: 100%;
} 

.logo{
      float: left;
       height: 82px;
       width: 100%;
       margin-left: 15px;
       text-align: center;
}

.partner{
      margin-top: 56px;
}

.logo .partner_part {
       display: inline-block;
       text-align: center;
       padding-top: 57px;
       width: 83px;
       height: 77px;
       padding-left: 68px;
}

.logo img{
      width: 72px;
      height: 68px;
}

.article .partner_part{
      list-style-type: none;
      width: 80px;
      height: 80px;
    }

.starts{
    background-image: url(../img/foto_spook.png);
    display: inline-block;
    margin-top: 65px;
    width: 40%;
    height: 269px;
    margin-right: 50px;
    margin-bottom: 25px;
    float: left;
}

  .starts h1{
  text-align: left;
  font-size: 16px;
  margin-left: 65px;
  margin-top: 22px;
  width: 320px;
  text-transform: uppercase; /* все буквы большие */
}

.starts p{
  margin-left: 55px;
  margin-right: 30px;
  margin-top: 10px;
  font-size: 16px;
  text-align: left;
}

.starts_collor{
  color: #edbfff;
}

/* --------------------------------------------карусель 2------------------------------------------------------------
 */

.radio_one{
  overflow: hidden;
  display: inline-block;
  width: 40%;
  height: 30px;
  margin-top: 120px;
  margin-left: 120px;
}
 
.radio_one .radio_bottom_part{
    display: inline-block;
    font-size: 25px;
    line-height: 9px;
    min-width: 15px;
    background: rgba(0, 0, 0, 0.75);
    color: #3b3942;
    border-radius: 27px;
    padding: 5px;
    text-align: center;
    margin-right: 0px;
    margin-top: 0px;
    opacity: .75;
    width: 11px;
    height: 14px;
} 

.radio_one .radio_bottom_part .active{
      background: #4E443C;
        color: #fff;
        opacity: 1;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
} 

.radio_one .radio_bottom{
      height: 23px;
}


.updates{
  height: 302px;
  width: 44%;
  float: left;
  margin-top: 91px;
  margin-left: 61px; 
}

.updates .search{
  font-size: 24px;
  font-family: 'Myriad Pro', sans-serif;
  margin-bottom: 19px;
  font-weight: normal;
  font-stretch: extra-condensed;
}

.updates .site_media {
  list-style-type: none;
  float: left;
}

.updates .site{
   margin-bottom: 25px
}

.updates img{
    width: 49px;
    height: 49px;
    margin-right: 15px;
}

.nunc{
  font-size: 16px;
  font-weight: bold;
  float: left;

}

span.hear{
  float: left;
  margin-top: 5px;
}

span.hear a{
  float: left;;
  margin-left: 180px;
  font-family: 'Myriad Pro', sans-serif;
  text-decoration: none;
  color: black;
  font-stretch: extra-condensed;
  font-weight: bold;
}


/* ------------------------------------------aside------------------------------------------------------- */

 aside {
        background-image: url(../img/grey_fon.png); 
        overflow:hidden;
        position: relative;
        height: 395px;
} 

  .news{
       width: 265px;
       height: 180px;
       float: left;
       margin-top: 91px;
       margin-right: 40px;
}  
 
.news_one{ 
      width: 32%;
      height: 180px;
      float: left; 
      margin-top: 91px; 
      margin-right: 40px; 
 } 

.news_one .name{
      font-stretch: extra-condensed;
      font-size: 48px;
      font-family: 'Myriad Pro', sans-serif;
} 
 
.news_one .big{
      color: #b9b9b9;
} 

.news_one .name_bottom{
      font-size: 16px;
      color: #c5c5c5;
      font-style: italic;
} 

.news .name{
        font-stretch: extra-condensed;
        font-size: 30px;
        font-family: 'Myriad Pro', sans-serif;
} 


footer{
  position: relative;
  overflow: hidden;
   height: 112px; 
  background: url(../img/img_footer.png);
  text-align: center;
}

.wrapper .menu_footer {
       margin-top: 38px;
       padding: 4px; /* Значение полей */
       width: 100%;
       float: left;
        font-family: 'Myriad Pro', sans-serif;
        font-stretch: extra-condensed;
        text-transform: uppercase; /* все буквы большие */
}

 .wrapper .menu_link{
   text-transform: uppercase; /* все буквы большие */
   font-size: 17px;
   color: #ffffff;
   padding-right: 25px;
   text-decoration: none;
   font-stretch:extra-condensed; 
   display: inline-block;
   float: left;
 }


 .menu_footer .menu_item{
   display: inline; /* Отображать как строчный элемент */
   text-align: center;
   padding-right: 15px;
   float: left;
} 

.menu_footer .menu_link:active{
  color:#0000FF;
}
  

.menu_footer .menu_item_as{
list-style-type: none;
}

.menu_item_as .menu_link{
        text-transform: none;
        color: white;  
        font-size: 12px;
        margin-left: 250px;
}

.menu_footer .menu_link .end{
  color: #dcdbde;
  font-weight: normal;
}  
}

