*{
	margin: 0;
	padding: 0;	
}


body { 
    display: block;
    position: relative;  
    margin: auto;
    width: 100%; 
	width: 2407px;
	height: 2306px;
    background: white;
}
 
 .wrapper{
    text-align: center;
    width: 960px;
    position:relative;
    display: block;
} 
  
/* <!-- -------------------------------------------------------Menu---------------------------------------------------------- --> */

header{
	background-image: url(../img/header.jpg);
	height: 840px;
	width: 2394px;
 	overflow:hidden;
	position: relative; 
 	font-family: 'Myriad Pro', sans-serif; 
 }

 .ping h1{
 	position: absolute; 
 	top: 69px;
    left: 720px; 
    color: #ffffff;
    font-weight: bold 700;
    font-size: 48px;
     font-stretch:extra-condensed; 
}

.ping span{
	color: #533b5e;

}
 
.menu {
	margin: 0; /* Обнуляем значение отступов */
	padding: 4px; /* Значение полей  */
	margin-top: 75px;
	margin-left: 350px;
}

.menu li{
	display: inline; /* Отображать как строчный элемент */
	text-align: center;
	padding-right: 53px;
} 

.menu li a{
    text-transform: uppercase; /* все буквы большие */
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    font-stretch:extra-condensed; 
}

.menu li a:hover{
	 text-decoration: underline;
	 color: #ffffff;  
}

 .menu li a:link{
	color: #edbfff;
/* 	text-decoration: none; */
} 

.link{
	color: #edbfff;
}

/* ------------------------------------------------серый фон lorem ipsum text------------------------------------------------------------------ */

.slider{
	background-image: url(../img/fon.png);
	margin-top: 172px;
	height: 350px;
	/* position: relative; */
}

.lorem_nav{
	width: 500px;
    height: 233px;
    margin-left: 720px;
    padding-top: 78px;
}

.lorem_nav h2{
	font-size: 60px;
	color: #ffffff;
	font-weight: normal;
	font-stretch:extra-condensed; 
}

.lorem_nav h3{
	font-size: 32px;
	color: #edbfff;
	font-weight: normal;
	font-stretch:extra-condensed; 
}

.lorem_nav p{
	font-size: 18px;
	color: #edeced;
	font-weight: 100; 

}

/* ----------------------------------------------------------iphone and point-------------------------------------------------------------------- */

.iphone{
  position: absolute;
  left: 1327px;
  top: 270px;
}

.iphone img{
	width: 247px
}

.point_left{
 position: absolute;
 margin-left: 392px;
 top: 437px;

}

.point_right{
 left: 1900px;
 top: 437px;
 position: absolute;

}