*{
	margin: 0;
	padding: 0;

}
.wrapper{
	width: 1000px;
	margin: 50px avto;

}

.clearfix:after{
    content: ;
    display: block;
    clear: both;
    height: 0;
    width: 100%;

}

.menu{


}


.menu li{

float-left:

}