*{
  margin: 0;
  padding: 0;
}

 body {     
  margin: s0px auto;
  width: 1279px;
  height: 1013px; 
  background-color: #333;
   background-image: url(../img/homework4.png);
  font-family: Tahoma, Arial, sans-serif; 
} 

.wrapper {
        background-color: white;
        width: 1000px;
        height: 900px;
        margin: 0px 30px 0px 120px;
} 

.Logo{
 height: 151px;
 width: 236px;
}

 .Logo img {
 height: 164px;
 width: 283px;
 overflow:left;
 margin-top: 48px ;
 margin-left: 30px; 

}

.Contacts{
 height: 96px;
 width: 180px;
 position: absolute;
 left: 957px;
 top: 12px;
}

  .Box {
  color: #49b5d6;
  overflow: right;
  list-style-type: none;
  font-size: 10.6pt;
  font-weight: bolder;
  text-shadow: 0.2px 0.2px #000;
} 

 .Contacts li{
  color: #49b5d6;
  list-style-type: none;
  font-size: 10.5pt;
  font-weight: normal;
  text-shadow: 0.2px 0.4px  #000;

 }


.mainNav{
 margin-top: -4px;
 margin-left: 645px;
 float:right; 
 width: 399px;
 height: 60px;

}

.mainNav li{
  float:left;
  font-size: 10px;
  text-align: center;
  width: 62px;
}

.mainNav ul{
list-style-type: none; 
}

.mainNav a{ 
  color: #49b5d6;
  font-weight: bold;
}

   .Title {
 width:1000px;
 height:237px;
}
 


   .Title img{
   position:absolute; 
  left: 120px;
  top: 212.8px;

  
 }
 . clearfix:after {
    content: ;
    display: block;
    clear: both;
    height: 0;
    width: 100%;
 
} 

.menu{
top: -686px;
height: 28px;
border-top: 1px solid #cacbcb;
border-bottom: 1px solid black;
position: relative;
text-align: justify;
z-index: 1;
box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
background: rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%);

}


.menu li{
      position: relative;

/*    list-style:none; */
       display: inline-block;
}

.menu a{
  padding: 0 33px;
  display: block;
  line-height: 28px;
  color: white;
}

.menu ul{
  display: none;
}   
