*{
  margin: 0;
  padding: 0;
}

 body {     
  margin: s0px auto;
  width: 1279px;
  height: 1013px; 
  background-color: #333;
   background-image: url(../img/homework4.png);
  font-family: Tahoma, Arial, sans-serif; 
} 

.wrapper {
        background-color: white;
        width: 1000px;
        height: 900px;
        margin: 0px 30px 0px 120px;
} 

.Logo{
 height: 164px;
 width: 283px;
}

 .Logo img {
 height: 164px;
 width: 283px;
 overflow:left;
 margin-top: 8px ;
 margin-left: 30px; 

}

.Contacts{
 height: 96px;
 width: 180px;
 position: absolute;
 left: 920px;
 top: 12px;
}

  .Title{
  color: #49b5d6;
  overflow: right;
  list-style-type: none;
  font-size: 11pt;
  font-weight: bolder;
  text-shadow: 0.2px 0.5px #000;
} 

 .Contacts li{
  color: #49b5d6;
  overflow: right;
  list-style-type: none;
  font-size: 10.5pt;
  font-weight: normal;
  text-shadow: 0.2px 0.4px  #000;

 }

.mainNav li{
   display: inline; 


}

.mainNav{
 height: 52px;
 width: 645px;
 position: absolute;

}

/* .logo span{
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 19px 30px 19px 30px; 
    padding:102px 105px 35px 56px; */
   
}

  .Title-logo img{
    position:absolute;
     z-index:1; 
    left: 120px;
    top: 177px;
    width:1000px;
    height:235px;
  
}
. clearfix:after {
    content: ;
    display: block;
    clear: both;
    height: 0;
    width: 100%;

}

.menu {
  Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+0,373737+0,333030+100
background: rgb(30,87,153); Old browsers
background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 0%, rgba(55,55,55,1) 0%, rgba(51,48,48,1) 100%); FF3.6+
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(0%,rgba(41,137,216,1)), color-stop(0%,rgba(55,55,55,1)), color-stop(100%,rgba(51,48,48,1))); Chrome,Safari4+
background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 0%,rgba(55,55,55,1) 0%,rgba(51,48,48,1) 100%); Chrome10+,Safari5.1+
background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 0%,rgba(55,55,55,1) 0%,rgba(51,48,48,1) 100%); Opera 11.10+
background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 0%,rgba(55,55,55,1) 0%,rgba(51,48,48,1) 100%); IE10+
background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 0%,rgba(55,55,55,1) 0%,rgba(51,48,48,1) 100%); W3C
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#333030',GradientType=0 ); IE6-9
ssss

box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}


.menu li{
   float-left;
   list-style:none;
}

.menu a{
  padding: 0 33px;
  display: block;
  line-height: 28px;
  color: white;
}

.menu ul{
  display: none;
}   
