 @font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('font/helveticaneuecyr-roman-webfont.eot');
    src: url('font/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
    url('font/helveticaneuecyr-roman-webfont.woff') format('woff'),
    url('font/helveticaneuecyr-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

} 

 *{
    margin: 0;
    padding: 0;  
} 


body {  
    width: 1215px;
    height: 1030px;
	margin: 0px auto;
    background-size: auto;
    background-position: top; 
    font-family:"helveticaneuecyrroman", Tahoma, sans-serif;
    font-size: 17px;
    color: white;
    background-image: url(../img/title.jpg);
    background-repeat: no-repeat;
    font-weight: normal;
}


.menu {
    height: 33px;
    width: auto;
    background-color: #075395;
}

.menu ul {
     list-style-type: none; 
     margin-left: 347px;
     height: 34px;
     text-align: center;
}


.menu a{
	  float: left;
      padding-bottom: 7px;
      padding-top: 5px;
	  padding-left: 10px;
      padding-right: 10px;
	  font-size: 14.0pt;
	  text-decoration: none;
	  color: #60b5ed;
      font-size: 12.5pt;
}


 .menu li a:hover {
       background-color: #54b7ea;
       color: white;
}
 
.line{
      text-align: center;
      margin-right: 9px;
      margin-top: 12px;
}

.ola a{
    background-color: #4eabda;
    color: #ffffff;
}

span{
    text-decoration: underline;
}

.lines a {
      height: 33px;
      float: left;
      padding-bottom: 0px;
      padding-top: 0px;
      padding-left: 10px;
      padding-right: 10px; 
 }  


.lines img{
      width: 2px;
      height: 33px;

 }


.line img{
       margin-left: 26px;
}


.flag {
      color: white;
      line-height: 36px;
      font-size: 14px;
      text-decoration: none;
}


.flag:before {
    position: absolute;
    left: -20px;
    content: "";
    width: 25px;
    height: 27px;
    background-image: url("../img/Pip.png") no-repeat;
}


header {
    width: 566px;
    height: 680px;
    padding-left: 330px;
    padding-right: 330px;
    padding-top: 121px;
    padding-bottom: 201px;
}

legend{
    font-size: 20pt;
    width: 565px;
    padding-top: 74px;
	text-align: center;
    padding-bottom: 15px;
}

fieldset {
    height: 675px;
    width: 566px;
    background-color: rgba(0, 0, 0, 0.5);
}


input {
    width: 261px;
    height: 35px;
    margin-left: 160px;
    margin-right: 145px;
    margin-top: 12px;
    font-size: 14px;
    padding-left: 15px; 
    background-color: black;
    color: #cccccc;
    border: 0px;
    box-shadow: 0px 1px 0px 0.00px #676767;
}


input[type="image"] {
    height: 35px;
    margin-right: 140px;
    margin-top: 33px;
    width: 283px;
    margin-left: 153px;
    padding-left: 0px;
    text-align: center;
} 


.menu_registration{
    height: 37px;
    width: 566px;
    margin-top: 10px;
    border-radius: 40px
}

.send{
    height: 37px;
    width: 539px;
    margin-top: 31px;
    font-size: 15px;
    margin-right: 97px;
    color: #DCDCDC;
}

 #Send{
	width: 17px;
    height: 17px;
    margin-left: 160px;
    margin-right: 10px;
}


input[type="submit"] { 
    margin-left: 208px;
    margin-right: 223px;
    height: 29px;
    width: 145px;
    padding-left: 0px;
    background: linear-gradient(to bottom, #1f80e2 0%, #0060be 100%);
    border-radius: 2px;
    border: 1px solid #4299d2;
    color: white;

}


footer{
    height: 45px;
    width: 344px;
    margin-left: 120px;
    text-align: center;
    margin-top: 19px;
    font-size: 13px;
    color: #DCDCDC;
}

/* подсветка ячейки*/
input:focus {
     background-color: #1b5288;
     color: white;
     box-shadow: 0px 1px 0px 0.00px #4b4b4b;
     -webkit-box-shadow: 0 0 30px rgba(81, 203, 238, 1);
     -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
