*{
	margin: 0;
	padding: 0;	
}

html{
background-color: black;
}


 body{
    width: 1000px;
    height: 1310px;
    padding-left: 44px;
    background-image: url(../img/title.jpg);  
    background-repeat: no-repeat;
    margin: 0px auto;
    font-size: 12px;
    font-weight: normal;
} 

header { 
    display: block;
    position: relative; 
    overflow:hidden;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 1px;
}

.contact{
    width: 29%;	
    float: left;
    padding-top: 5px;
}

.avtor{
  float: left;
  width: 4%;	
  padding-top: 2px;
}

 .registr{
 float: left;
 width: 55%;
 margin-top: 4px;
    padding-bottom: 0px;
    padding-top: 3px;
-webkit-box-shadow: 0px 2px 2px 0px rgba(14,57,94,1);
-moz-box-shadow: 0px 2px 2px 0px rgba(14,57,94,1);
box-shadow: 0px 2px 2px 0px rgba(14,57,94,1);

background: rgba(250,129,107,1);
background: -moz-linear-gradient(left, rgba(250,129,107,1) 0%, rgba(17,67,111,1) 0%, rgba(244,97,78,1) 0%, rgba(246,168,156,1) 0%, rgba(17,67,111,1) 0%, rgba(27,110,182,1) 0%, rgba(27,110,182,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(250,129,107,1)), color-stop(0%, rgba(17,67,111,1)), color-stop(0%, rgba(244,97,78,1)), color-stop(0%, rgba(246,168,156,1)), color-stop(0%, rgba(17,67,111,1)), color-stop(0%, rgba(27,110,182,1)), color-stop(100%, rgba(27,110,182,1)));
background: -webkit-linear-gradient(left, rgba(250,129,107,1) 0%, rgba(17,67,111,1) 0%, rgba(244,97,78,1) 0%, rgba(246,168,156,1) 0%, rgba(17,67,111,1) 0%, rgba(27,110,182,1) 0%, rgba(27,110,182,1) 100%);
background: -o-linear-gradient(left, rgba(250,129,107,1) 0%, rgba(17,67,111,1) 0%, rgba(244,97,78,1) 0%, rgba(246,168,156,1) 0%, rgba(17,67,111,1) 0%, rgba(27,110,182,1) 0%, rgba(27,110,182,1) 100%);
background: -ms-linear-gradient(left, rgba(250,129,107,1) 0%, rgba(17,67,111,1) 0%, rgba(244,97,78,1) 0%, rgba(246,168,156,1) 0%, rgba(17,67,111,1) 0%, rgba(27,110,182,1) 0%, rgba(27,110,182,1) 100%);
background: linear-gradient(to right, rgba(250,129,107,1) 0%, rgba(17,67,111,1) 0%, rgba(244,97,78,1) 0%, rgba(246,168,156,1) 0%, rgba(17,67,111,1) 0%, rgba(27,110,182,1) 0%, rgba(27,110,182,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa816b', endColorstr='#1b6eb6', GradientType=1 );

border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
-webkit-border-radius: 4px 4px 4px 4pxss

}

.home{
  float: left;
  width: 9%;
}

.home img{
    width: 71px;
    height: 31px;
    padding-top: 1px;
}

.registr span{
padding-left: 4px;
}


input[type="name"]{
    width: 110px;
    height: 17px;
    padding-left: 9px;
}

.b1{
    color: white; /* Белые буквы */ 
    font-size: 9pt; /* Размер шрифта в пунктах */
}



input[type="submit"]{
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    width: 74px;
    background: none;
}

input[type="button"]{
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    width: 110px;
    background: none;
    text-decoration:underline;
     color: #81898d; 

}


menu{
    float:left; 
    position: relative;   
    overflow:hidden;  
    display: block; 
    top: 0px;
    height: 37px;
    width: 911px;
    
    -webkit-box-shadow: inset 0px 0px 6px 0px rgba(77,86,99,0.32);
   -moz-box-shadow: inset 0px 0px 6px 0px rgba(77,86,99,0.32);
    box-shadow: inset 0px 0px 6px 0px rgba(77,86,99,0.32);
    
    background-color: rgba(40, 40, 42, 1);
    background: rgba(40, 40, 42, 1);
    color: rgba(40, 40, 42, 1);
    
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
}

menu ul {
     list-style-type: none; 
     float:left; 
      height: 34px; 
     text-align: center;
     height: 25px;
      margin-left: 145px;
      border-radius: 20px 5px;

}

menu a:hover {
  border-radius: 110px 110px;
  background-color: #0066FF;
}
 
menu li{
    float:left;
    text-align: center;
    padding: 8px 8px 6px 8px;

}

menu li a{
       text-decoration:none;
       color: #81898d;
       font-size: 15px;
        text-align: center;
}

.check{
    float: left;
    width: 26%;
    text-align: center;
    margin-left: 36px;
    padding: 8px 8px 6px 8px
}

.check span{
       text-decoration:none;
        color: #81898d; 
       font-size: 16px;
       margin-left: 4px;
}

.zenter img{
    width: 914px;
    height: 177px;
}

.clearfix{
    height: 627px;
    width: 922px
}

section{
  float: left;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
  width: 207px;
}

 figure{
  float: left;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
  width: 502px;
  height: 633px;
  text-align: center;
  background-image: url(../img/fon.jpg);
}

nav{
  float:right;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
  width: 198px;
}

nav input[type="checkbox"]{
    margin-top: 6px;
    margin-bottom: 6px;


  }

  .form{
        height: 105px;
  }

.pin [action="tack"]{
      padding-left: 26px;
      height: 121px;;
} 

.img_title{
    padding-bottom: 3px;
    padding-left: 7px;
    padding-top: 2px;
    border-top-width: 27px;
    width: 180px;
    height: 28px;
    border: 1px solid #000;
    border-radius: 19px;
    margin-bottom: 13px;
}

.avto_detal img{
    width: 30px;
    border-right-width: 23px;
    padding-right: 11px;
}

.img_title img{
    width: 30px;
    border-right-width: 23px;
    padding-right: 6px;

}

.avto{
        padding-bottom: 13px;
}

.avto_detal{
    border: 1px solid #000;
    border-radius: 15px;
    width: 146px;
    height: 28px;
    padding-left: 6px;
    padding-top: 1px;
    padding-bottom: 3px;
}

.avto ul{
      padding-left: 39px;
      list-style-type:circle;
}

section li{
      padding-top: 3px;
      padding-bottom: 3px;
}

.img-avto_detal{
    border-radius: 10px;
}
