 @font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('font/helveticaneuecyr-roman-webfont.eot');
    src: url('font/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
         url('font/helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('font/helveticaneuecyr-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

*{
	margin: 0;
	padding: 0;	
}


body { 
    display: block;
    position: relative; 
    margin: auto;
    width: 100%;
    max-width: 1100px;
     height: 1408px;
}


.wrapper{
    width: 1000px; 
    height: 1308px;
    background-image: url(../img/title.jpg);  
    font-family:"helveticaneuecyrroman", Tahoma, sans-serif;
    margin: 0px auto;
    font-size: 12px;
} 

.contact span{
    font-size: 18px;
}

.contact{
    width: 31%;	
    float: left;
    padding-top: 5px;
}

.avtor{
   float: left;
   width: 4%;	
   padding-top: 2px;
}

 .registr{
  float: left;
  width: 53%;
  margin-top: 4px;
  padding-bottom: 0px;
  padding-top: 3px;
 -webkit-box-shadow: 0px 2px 2px 0px rgba(14,57,94,1);
 -moz-box-shadow: 0px 2px 2px 0px rgba(14,57,94,1);
  box-shadow: 0px 2px 2px 0px rgba(14,57,94,1);

background: #225484;
border-radius: 3px 3px 3px 3px;
-moz-border-radius: 4px 4px 4px 4px;
-webkit-border-radius: 4px 4px 4px 4pxss;

}

.home{
  float: left;
  width: 9%;
}

.home img{
    width: 71px;
    height: 31px;
    padding-top: 1px;
}

.registr span{
   padding-left: 4px;
}


input[type="name"]{
    width: 102px;
    height: 17px;
    padding-left: 9px;
}


.b1{
    color: white; /* Белые буквы */ 
    font-size: 9pt; /* Размер шрифта в пунктах */
}


input[value="вход"]{
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    width: 42px;
    background: none;
    font-size: 10pt;
 
}

input[value="регистрация"]{
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    width: 85px;
    background: none;
    font-size: 10pt;
}


input[type="button"]{
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    width: 110px;
    background: none;
    text-decoration:underline;
    color: #A5A5A5;
    font-weight: 600;
    margin-left: 13px;
}

menu{
    float:left; 
    position: relative;   
    overflow:hidden;  
    display: block; 
    top: 0px;
    height: 37px;
    width: 911px;
    
    -webkit-box-shadow: inset 0px 0px 6px 0px rgba(77,86,99,0.32);
   -moz-box-shadow: inset 0px 0px 6px 0px rgba(77,86,99,0.32);
    box-shadow: inset 0px 0px 6px 0px rgba(77,86,99,0.32);
    
    background-color: rgba(40, 40, 42, 1);
    background: rgba(40, 40, 42, 1);
    color: rgba(40, 40, 42, 1);
    
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
}

menu ul {
     list-style-type: none; 
     float:left; 
     margin-left: 77px;
     text-align: center;
     height: 25px;
     margin-left: 117px;
     height: 32px;
     padding-top: 0px;
     border-radius: 20px 5px;
}

menu li a:hover{
     border-radius: 200px 200px;
     background-color: #225484;
     color: white;
    font-size: 13px;
    font-weight: normal;
}
 

menu li{
    float: left;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    height: 19px;
    width: 80px; 
    padding: 8px 0px 6px 0px;
    margin-top: 3px;
    margin-left: 5px;
  }

menu li a{
       text-decoration:none;
       color:#F5F5F5;
       font-size: 13px;
       text-align: center;
       padding-left: 7px;
       padding-right: 7px;
       padding-top: 7px;
       padding-bottom: 8px;
}

.first{
    height: 20px;
    width: 130px;
}


.delivery{
    height: 19px;
    width: 80px;
    margin-left: 9px;
}

.contact{
    height: 19px;
    width: 80px;
    margin-top: 5px;
    margin-left: 19px;

}
.check{
    float: left;
    width: 26%;
    text-align: center;
    margin-left: 11px;
    padding: 8px 8px 6px 8px
}

.check span{
       text-decoration:none;
        color: #81898d; 
       font-size: 16pt;
       margin-left: 4px;
}

.zenter img{
    width: 914px;
    height: 177px;
}

.clearfix{
   height: 714px;
   width: 926px;
   font-weight: bold 700;
   padding-top: 4px;
}

section{
  float: left;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
  width: 207px;
  color: #2a4263;
}

 figure{
  position: relative;   
  overflow:hidden;  	
  float: left;
  width: 497px;
  height: 602px;
  padding-top: 0px;
  right: 2px;
  background: #dbdee0;
}

nav{
  float:right;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
  width: 198px;
  color: #2a4263;
  font-size: 10pt;
}


nav input[type="checkbox"]{
    margin-top: 6px;
    margin-bottom: 6px;

  }

.form{
    height: 75px;
    width: 171px;
  }

.pin{
      margin-bottom: 7px;
}

.pin [action="tack"]{
      padding-left: 26px;
      height: 75px;;
} 

.img_title{
    padding-bottom: 4px;
    padding-left: 7px;
    padding-top: 1px;
    border-top-width: 27px;
    width: 180px;
    height: 21px;
    border: 2px solid #9ea9af;
    border-radius: 19px;
    margin-bottom: 9px;

}

.avto_detal img{
    height: 24px;
    width: 25px;
    border-right-width: 23px;
    padding-right: 4px;
}

.img_title img{
    width: 24px;
    border-right-width: 23px;
    padding-right: 6px;

}

.avto{
        padding-bottom: 0px;
}

.avto ul{
      padding-left: 54px;
      list-style-type:circle;
      padding-top: 0px;
      display: block;
}
      
.avto li{
    text-decoration: none;
    font-size: 10pt;
    height: 15px;
    width: 150px;
    padding-top: 2px;
    padding-bottom: 7.5px;
}

 .avto li a {
    color: #2a4263; /* Цвет обычной ссылки */ 
    text-decoration: none; /* Убираем подчеркивание у ссылок */
   }

  .avto li a:visited {
    color: #2a4263; /* Цвет посещённой ссылки */
   } 

   .avto li a:hover {
    color: #2a4263; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline; /* Добавляем подчеркивание */
    font-style: italic;
    font-size: 10pt;
    font-weight: 600;
   }

.avto_detal{
    border: 2px solid #9ea9af;
    border-radius: 15px;
    width: 150px;
    padding-left: 6px;
    margin-left: 15px;
    margin-top: 0px;
    height: 26px;
    border-top-width: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
} 


.img-avto_detal{
    border-radius: 10px;
}

.line_one img{
    height: 185px;
    width: 159px;

}

.line_one{
    margin-top: 5px;
    margin-left: 0px;
    border-left-width: 12px;
}
	
.line_two img{
    height: 185px;
    width: 159px;

}

.line_two {
    margin-top: 16px;
    margin-left: 0px;
    border-left-width: 12px;

}

.line_three {
    margin-top: 17px;
    margin-left: 0px;
    border-left-width: 12px;
}

.line_three img{
    height: 185px;
    width: 159px;
}

.partner {
  text-align: center; 
}

.partner img{
          margin-top: 43px;
}

footer{
    width: 900px;
    height: 97px;
    background-color: #193658;
}

footer ul{
     list-style-type: none; 
     text-align: center;
     margin-left: 308px;
}

footer li a{
   float: left; 
   padding-right: 15px;
   padding-top: 10px;
   font-size: 15px; 
   text-align: center;
   color: white;
   font-size: 10pt;
   font-weight: normal;
   text-decoration: none; /* Добавляем подчеркивание */
}

 footer li a:hover {
    color: #00CED1; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: none; /* Добавляем подчеркивание */
    font-size: 10pt;
    font-weight: normal;
    text-decoration: none; /* Добавляем подчеркивание */
 }


footer p{
  font-size: 11px;
  padding-top: 33px;;
  color: #A52A2A;
  margin-left: 361px;
  font-weight:bold;
}

.pixel input{
    margin-top: 18px;
    width: 84px;
    height: 26px;
    color: white;
    background: #225484; /* Цвет фона */
    border: 1px solid #225484; /* Параметры рамки */
    width: 84px; /* Ширина кнопки */
    height: 28px; /* Высота */
    border-radius: 5px;

}

.input {
      margin-left: 32px;
}

.pixel [type="submit"] {
        margin-left: 10px;
        border-radius: 50px 50px;
}

.check span{
    text-decoration: none;
    color: #81898d; 
    font-size: 12px;
    margin-left: 4px;
}
